@import "tailwindcss";

@theme {
  --color-primary: #3B27BA;
  --color-secondary: #E1F664;
  --font-sans: 'Inter', sans-serif;
}

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
}

body {
  background-color: #f9fafb; /* gray-50 */
  color: #111827; /* gray-900 */
}
